@use '../util' as *;

html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

//the main style is light then we'll add dark mode
body {
    background-color: var(--bg);
    padding: 0em;
    margin: 0%;
    font-family: "Inter", sans-serif;

    main{
        margin: 2rem 5rem;
    }

    footer {
        height: 1rem;
        .attribution {
            font-size: rem(11);
            text-align: center;

            a {
                color: hsl(228, 45%, 44%);
            }
        }
    }
}
