@use "../util" as *;

.dashboard {
    @include flex_box($justify:center, $align: stretch);

    @include breakpoint-down (small) { //mobile design
        flex-direction: column;
        align-items: center;
    }

    @include breakpoint-down(medium){ //tablet design
        flex-wrap: wrap;
    }

    .dash-card {
        @include flex_box($direction: column);
        background-color: var(--card-bg);
        border-top: rem(4) solid;
        width: rem(240);
        height: rem(200); //should become 215px
        border-radius: rem(10);
        margin-right: 0;
        margin-left: rem(30);
        &:hover{
            background-color: var(--card-hover);
        }

        @include breakpoint-down (small) { //mobile design
            margin: 0 0 rem(25) 0;
            width: rem(325)
        }

        @include breakpoint-down(medium){ //tablet design
            margin: rem(10);
            justify-content:space-evenly ;
        }

        .head-with-img {
            display: flex;
            align-items: flex-start;
            font-size: 13px;
            margin-top: rem(30);
            margin-bottom: rem(5);
            img{
                margin-right: rem(5);
                margin-bottom: 5px;
            }
        }

        .dash-number {
            color: var(--h-text);
            font-size: 3.5rem;
            font-weight: 700;
            margin-bottom: -7px;
            
        }

        .followers{
            font-variant: small-caps;
            margin-bottom: rem(25);
        }

        .rising {
            @include flex_box();
            img{
                margin: rem(3);
            }
            color: var(--rising-num);
            font-size: 14px;
            margin-top: 0;
            margin-bottom: rem(25);
        }
        
        .falling {
            @include flex_box();
            img{
                margin: rem(3);
            }
            color: var(--falling-num);
            font-size: 13px;
            margin-top: 0;
            margin-bottom: rem(25);
        }

    }

// top border colors

    .facebook{
        border-color:  var(--Facebook);
        margin-left: 0;

        @include breakpoint-down(medium){ //tablet design step 1
            margin-left: rem(10);
        }
    }
    .twitter{
        border-color:  var(--Twitter);
    }
    .instagram{
        border-color: transparent;
        border-image: var(--Instagram);
        border-image-slice: 1;
        
    }
    .youtube{
        border-color: var(--YouTube);
    }
}
