@use '../util' as *; 

.overview {
    margin: rem(35) 5.3125rem 0 5.3125rem;

    .overview-box {
        display: flex;
        .overview-card {
            background-color: var(--card-bg);
            height: rem(125);
            width: rem(270);
            margin-top: rem(25);
            margin-left: rem(25);
            padding: rem(20);
            border-radius: rem(5);
            @include flex_box($direction:column, $justify:space-between, $align:stretch);


            .up{
                @include flex_box($justify:space-between);
            }

            .down{
                @include flex_box($justify: space-between);

                .rising {
                    @include flex_box();
                    
                    .number {
                        color: var(--rising-num);
                    }
                }
    
                .falling {
                    @include flex_box();
                    
                    .number {
                        color: var(--falling-num);
                    }
                }
            }
        }

        .first{
            margin-left: 0;
        }
    }
}