@use '../util' as *; 

.overview {
    margin: rem(35) rem(70) 0 rem(70);
    @include breakpoint-down (small){
        margin: 0;
    }

    .overview-box {
        display: flex;
        @include breakpoint-down (small){
            flex-direction: column;
            align-items: center;
        }
        .overview-card {
            background-color: var(--card-bg);
            height: rem(125);
            width: rem(265);
            margin: rem(25) 0 0 rem(25);
            padding: rem(20) rem(30);
            border-radius: rem(5);
            @include flex_box($direction:column, $justify:space-between, $align:stretch);
            
            &:hover{
                background-color: var(--card-hover);
            }
            
            @include breakpoint-down (small){
                margin: 0 0 rem(15);
            }

            .up{
                @include flex_box($justify:space-between);
            }

            .down{
                @include flex_box($justify: space-between);
                font-size: rem(25);
                .rising {
                    @include flex_box();
                    
                    .number {
                        color: var(--rising-num);
                        font-size: rem(12);
                    }
                }
                
                .falling {
                    @include flex_box();
                    
                    .number {
                        color: var(--falling-num);
                        font-size: rem(12);
                    }
                }
            }
        }

        .first{
            margin-left: 0;
        }
    }
}