@use '../util' as *;

.toggle{
    .darkmode{
        @include flex_box;
        color: var(--p-text);

        .label{ //styling the label
            width: 5em;
            height: 2em;
            border-radius: rem(30);
            background: var(--toggle);
            position: absolute;
            cursor: pointer;
            
            &::before{ // to show a text before the toggle
                content: 'Dark Mode';
                position: absolute;
                display: inline-block;
                width: rem(90);
                left: rem(-95);
                top: rem(5);
            }
            
            &:hover{
                background: var(--toggle-hover);
            }
        }
    }
}


//toggle animation which i don't get
#checkbox:checked ~ .ball{
    transform: translateX(3em);
}

#checkbox {
    display: none;
}

    .ball{
    
        width: 1.6em;
        height: 1.6em;
        background-color: var(--top-bg);
        position: absolute;
        border-radius: 50%;
        margin-top: -0.3px;
        margin-left: 3px;
        cursor: pointer;
        transition: all 250ms ease-in-out;
    
    }